{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}